@import 'elements';
@media (min-width: $screen-lg) {
    /*S:perfect-scrollbar*/
    perfect-scrollbar.perfectScrollbar {
        >.ps.ps--active-y,
        >.ps.ps--scrolling-y {
            >.ps__rail-y {
                right: 0 !important;
            }
        }
    }
    .mainTitle {
        font-size: 3em;
    }
    /*E:perfect-scrollbar*/
    /*S:header*/
    .header {
        padding: 0 50px;
        .logo {
            img {
                width: auto;
            }
        }
    }
    .mainMenu {
        .item {
            margin: 0 24px;
        }
        .link {
            font-size: 1.8em;
        }
    }
    .accessibilityList {
        .btnAccessibility {
            margin: 0 24px;
        }
    }
    .btnAccessibility {
        &.keyboard {
            display: block;
            width: 40px;
            margin-top: 5px;
            img {
                width: 40px;
            }
        }
    }
    /*E:header*/
    .picFaq {
        img {
            width: auto;
        }
    }
    /*S:dialog*/
    .dialogContainer {
        &.about {
            width: 1030px;
            padding: 60px 140px;
        }
        &.contact {
            width: 1000px;
            padding: 10vh 16vh;
        }
        &.offer {
            max-width: 1500px;
            padding: 6.8vh 6.8vw 5vh 5.2vw;
        }
    }
    /*E:dialog*/
    /*S:contact*/
    .imgContact {
        top: 56px;
        left: 74px;
        img {
            width: auto;
        }
    }
    .titleContact {
        max-width: 450px;
        margin: 10px 0 40px;
    }
    .rowFields {
        margin-bottom: 2.8vh;
    }
    .btnSend {
        margin-top: 40px;
        margin-top: 4vh;
    }
    /*E:contact*/
    /*S:offerDialog*/
    .offerDialogScroll {
        // max-height: calc(100vh - 38vh);
    }
    .offerContainer {
        padding-bottom: 34px;
        padding-left: 16px;
        display: flex;
        .title {
            padding-bottom: 9px;
            font-size: 3.2vh;
        }
    }
    .businessDetailsBox {
        min-width: 280px;
        padding-top: 30px;
        margin-left: 70px;
    }
    .offerBox {
        max-width: 920px;
        padding: 30px 60px;
        .offerList {
            margin-top: 0;
            .item {
                margin: 6.4vh 0 2.1vh;
            }
        }
    }
    .offerList {
        margin-top: 6.4vh;
        .item {
            margin-bottom: 30px;
            .pic {
                width: auto;
                top: -6px;
            }
        }
        .numberContainer {
            .number {
                font-size: 5.8vh;
            }
            .currency {
                font-size: 2.6em;
            }
        }
    }
    /*E:offerDialog*/
    /*S:home*/
    .sectionInfoWrapper {
        height: auto;
        top: 112px;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        transform: scale(1);
        transition: all .6s ease-in-out;
        &.caruselSection {
            .sectionInfo {
                height: auto;
            }
        }
        &.outOfView {
            opacity: 0;
            visibility: hidden;
            transform: scale(2);
        }
    }
    .sectionInfo {
        position: absolute;
        right: 15px;
        left: 15px;
        top: 5vh;
        padding: 0;
        @include transitionMove();
        .btnGlobal {
            margin: 20px 0 33px;
        }
        &.playing {
            opacity: 0;
            visibility: hidden;
        }
        .sectionInfoInner {
            max-width: 440px;
        }
    }
    .videoWrapper {
        top: -112px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    /*E:home*/
    /*S:footer*/
    .footer {
        height: auto;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 20vh $gutter 0;
        background-image: url(./../img/footer.png);
        .title {
            font-size: 4.2em;
        }
        .btnLinkContainer {
            margin: 10px 0 40px;
        }
    }
    /*S:footer*/
    /*S:slick*/
    .commentsCarusel {
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .slick-arrow {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            &.slick-prev {
                right: 45px;
            }
            &.slick-next {
                left: 45px;
            }
        }
        .slick-dots {
            bottom: 70px;
        }
    }
    .itemCarusel {
        min-height: 300px;
        display: flex;
        justify-content: center;
        padding: 80px 15px 80px;
        .pic {
            width: 118px;
            height: 118px;
            overflow: hidden;
            margin: 0 0 0 96px;
            border-radius: 100%;
            img {
                width: 100%;
            }
        }
        .comment {
            margin-bottom: 10px;
            text-align: right;
            font-size: 3.4em;
            img {
                width: auto;
            }
        }
        .startPic {
            position: absolute;
            top: 0;
            right: -44px;
        }
        .text {
            text-align: right;
            font-size: 2.2em;
        }
    }
    /*E:slick*/
    .playBtn {
        top: 50%;
    }
    .scrollIndicator {
        left: 50%;
        bottom: 40px;
        width: 40px;
        height: 40px;
        position: fixed;
        display: block;
        z-index: 1000;
        cursor: pointer;
        border-radius: 100%;
        opacity: 1;
        visibility: visible;
        transition: all .25s ease;
        animation: jump 2s infinite 2s;
        background: rgba(255, 255, 255, .35);
        &:after {
            content: "";
            left: 50%;
            top: 50%;
            width: 14px;
            height: 14px;
            display: block;
            position: absolute;
            border-left: 2px solid #666;
            border-bottom: 2px solid #666;
            transform: translate(-50%, -70%) rotate(-45deg);
        }
        &--hide {
            opacity: 0;
            visibility: hidden;
        }
    }
    // .mainVideo {
    //     left: 0;
    //     bottom: 0;
    //     width: 80%;
    //     position: absolute;
    // }
    .mainVideo {
        top: -60px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .note {
        max-width: 90%;
    }
}