@import 'elements';
@media (min-width: $screen-sm) {
    $headerHight: 112px;
    .wrapper {
        padding-top: $headerHight;
    }
    .mainTitle {
        font-size: 3.6em;
    }
    .btn {
        &.btnGlobal {
            font-size: 2.4em;
        }
    }
    /*S:header*/
    .header {
        height: $headerHight;
        justify-content: space-between;
        padding: 0 10px;
        &.open {
            .mainMenu {
                width: auto;
            }
        }
        .logo {
            img {
                width: 220px;
            }
        }
    }
    .hamburger {
        display: none;
    }
    .mainMenu {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        position: static;
        background: none;
        .item {
            padding-bottom: 0;
            margin: 0 8px;
            border-bottom: none;
        }
        .link {
            width: auto;
            font-size: 1.6em;
        }
    }
    .menuAccessibilityContainer {
        display: flex;
        align-items: center;
    }
    .accessibilityList {
        .btnAccessibility {
            margin: 0 8px;
        }
    }
    /*E:header*/
    .faqSection {
        padding-top: 100px;
    }
    .faqPage {
        display: flex;
    }
    .picFaq {
        display: block;
        img {
            width: 240px;
        }
    }
    .faqBoxList {
        margin-top: 30px;
    }
    .faqBox {
        margin-bottom: 40px;
        .title {
            font-size: 2.6em;
        }
    }
    .closeDialog {
        top: 13px;
        right: 13px;
        &:before,
        &:after {
            width: 3px;
            height: 22px;
        }
    }
    /*S:about*/
    .aboutDialog {
        .title,
        h2 {
            margin: 40px 0 6px;
        }
        .text {
            p {
                font-size: 1.5em;
                line-height: 1.6;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .linkLogoContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 50px;
        .link {
            margin: 0;
        }
        .pic {
            width: auto;
            img {
                width: auto;
            }
        }
    }
    /*E:about*/
    /*S:contact*/
    .imgContact {
        top: 18px;
        left: 34px;
        img {
            width: 56px;
        }
    }
    .rowFields {
        display: flex;
        justify-content: space-between; // margin: 0 -30px;
        .formGroup {
            width: 45%;
            &.details {
                width: 100%;
            }
        }
    }
    /*E:contactDialog*/
    /*S:offerDialog*/
    .offerDialogScroll {
        max-height: none;
    }
    .offerContainer {
        padding: 25px 20px;
    }
    .offerBox {
        .offerList {
            display: flex;
            flex-wrap: wrap;
            .item {
                width: 33.3333%;
            }
        }
    }
    .offerList {
        .item {
            padding-left: 20px;
        }
    }
    /*E:offerDialog*/
    /*S:home*/
    .sectionInfo {
        top: 15vh;
        right: 7vw;
        left: auto;
        .text {
            font-size: 2.2em;
        }
        .btnGlobal {
            margin: 15px 0;
        }
    }
    .note {
        font-size: 1.6em;
    }
    /*E:home*/
    /*S:footer*/
    .footer {
        padding: 35px $gutter 60px;
        .title {
            font-size: 3.4em;
        }
        .text{
        font-size: 2.2em;
        }
        .btnLinkContainer{
            margin-bottom: 30px;
        }
    }
    /*E:footer*/
}