@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'elements';
@include font-face('assistantRegular', 'assistant-v1-hebrew-regular');
@include font-face('assistantSemiBold', 'assistant-v2-hebrew-600');
@include font-face('assistantBold', 'assistant-v1-hebrew-700');
@include font-face('latoLight', 'lato-v14-latin-300');
/* start reset*/

* {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    height: 100%;
}

body {
    direction: rtl; // overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: $fontAssistantRegular;
}

.main {
    height: 100%;
    font-size: 10px;
    -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

th {
    font-weight: normal;
}

button {
    min-width: 0;
    padding: 0;
    background: none;
    border: none;
    &:disabled {
        opacity: .5;
        cursor: no-drop;
    }
}

input,
textarea,
select,
button {
    font-family: inherit;
}

button {
    min-width: 0;
    padding: 0;
    background: none;
    border: none;
}

button,
a {
    @include transitionMove();
}

a {
    text-decoration: none;
    &:focus,
    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0;
}

strong {
    font-family: $fontAssistantBold;
    font-weight: normal;
}

textarea,
input {
    border-radius: 0;
    padding: 0;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type=radio],
input[type=checkbox] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input::-webkit-outer-spin-button,
/* Removes arrows */

input::-webkit-inner-spin-button,
/* Removes arrows */

input::-webkit-clear-button {
    /* Removes blue cross */
    -webkit-appearance: none !important;
    margin: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=datetime-local] {
    -webkit-appearance: none;
}

textarea {
    resize: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

body:not(.keyboard) *:focus,
body:not(.keyboard) *.focus {
    outline: none !important;
}

label {
    font-weight: normal;
    margin-bottom: 0;
}

select {
    opacity: 0;
    font-size: 16px !important;
}

input::-ms-clear {
    display: none;
}

a[href^="tel:"] {
    white-space: nowrap;
    direction: ltr;
}

a[href^="mailTo:"] {
    text-decoration: underline;
    word-break: break-all;
}

.cdk-overlay-pane.mat-datepicker-popup {
    width: auto;
}

body.keyboardFocus {
    input[type="checkbox"]:focus+span,
    input[type="radio"]:focus+span,
    :focus {
        outline: red dotted 2px !important;
    }
}

/* end reset*/

/*S:expansionPanel*/

.expansionPanel {
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }
    .mat-expansion-panel-header {
        // height: 40px !important;
        // min-height: 40px !important;
        // max-height: 40px !important;
        font-size: 10px;
    }
    .mat-expansion-panel-content {
        font-size: 10px;
    }
    .mat-expansion-panel-body {
        padding: 0;
    }
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
        background: transparent;
    }
    .mat-content {
        overflow: initial;
        height: 100%;
    }
    .mat-expansion-panel-header {
        position: relative;
        padding: 0;
    }
}

/*E:expansionPanel*/

/*S:reset:dialog*/

mat-dialog-container.mat-dialog-container {
    direction: rtl;
    padding: 0;
    overflow-x: hidden;
    background: $colorWhite;
    font-size: 10px;
    border-radius: 16px;
    position: relative;
    box-shadow: 0px 15px 25px 0px rgba(5, 36, 99, 0.2);
}

.cdk-overlay-pane {
    max-width: calc(100vw - 30px)!important;
}

/*E:reset:dialog*/

/*S:perfect-scrollbar*/

perfect-scrollbar.perfectScrollbar {
    &.offerDialogScroll{
        >.ps.ps--active-y,
        >.ps.ps--scrolling-y {
            >.ps__rail-y {
                right: -2px !important;
            }
        }
    }
    >.ps.ps--active-y,
    >.ps.ps--scrolling-y {
        >.ps__rail-y {
            right: 8px !important;
            opacity: 1 !important;
            background: transparent !important;
        }
    }
    .ps__rail-y {
        &:hover {
            .ps__thumb-y {
                background: $colorBlue;
            }
        }
    }
    .ps__thumb-y {
        background: $colorBlue;
    }
}

/*E:perfect-scrollbar*/

.wrapper {
    height: 100%;
    padding-top: $headerHight;
}

.container-fluid {
    max-width: 1200px;
    margin: auto;
}

.mainTitle {
    font: 2.4em/1 $fontAssistantBold;
    color: $colorBlue;
}

.btn {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    &.btnGlobal {
        display: inline-flex;
        align-items: center;
        padding: 5px 20px 8px;
        font-size: 1.8em;
        color: $colorWhite;
        transition: all 0.2s ease-out;
        background: linear-gradient(to right, rgba(30, 180, 255, 1) 0%, rgba(13, 200, 245, 1) 100%);
        &:hover,
        &:focus,
        &:active {
            background-position: right center;
        }
    }
}

/*S:header*/

.header {
    width: 100%;
    height: $headerHight;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0px 10px 25px 0px rgba(5, 36, 99, 0.05);
    z-index: 1;
    background: $colorWhite;
    .logo {
        img {
            width: 240px;
        }
    }
    &.open {
        .hamburger {
            div {
                width: 25px;
                height: 25px;
                border: 1px solid $colorBlueDark;
            }
            span {
                background: none;
                transform: rotate(-180deg);
                height: 1px;
                &:before,
                &:after {
                    height: 1px;
                    transition-delay: 0.3s, 0s;
                }
                &:before {
                    top: 0;
                    transform: rotate(45deg);
                }
                &:after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }
        }
        .mainMenu {
            width: 100%;
        }
    }
}

.hamburger {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 104;
    div {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 104;
        border-radius: 50%;
        border: none;
        transition: all 0.3s 0.3s;
        overflow: hidden;
    }
    span {
        display: block;
        position: absolute;
        top: 50%;
        left: 21%;
        right: 17%;
        height: 2px;
        background-color: $colorBlueDark;
        transform: translateY(-50%);
        transition: background 0s 0.3s, transform 0.3s 0.3s;
        &:before,
        &:after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $colorBlueDark;
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0s, 0.6s;
        }
        &:before {
            top: -8px;
            transform: rotate(0);
            transition-property: transform, top;
        }
        &:after {
            bottom: -8px;
            transform: rotate(0);
            transition-property: transform, bottom;
        }
    }
}

.mainMenu {
    width: 0;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100px;
    right: 0;
    overflow: hidden;
    background: $colorWhite;
    @include transitionMove();
    .item {
        margin: 0 24px 10px;
        padding-bottom: 1px;
        border-bottom: solid 1px #eee;
        &:last-child {
            margin-left: 0;
            border-bottom: none;
        }
    }
    .link {
        width: 100%;
        position: relative;
        white-space: nowrap;
        text-align: right;
        font-size: 1.8em;
        color: $colorBlueDark;
        cursor: pointer;
        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            height: 2px;
            background: $colorBlueDark;
        }
        &:before {
            opacity: 0;
            -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
            transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
            transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:after {
            opacity: 0;
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
            transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:hover,
        &.active {
            &:before,
            &:after {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
            &:before {
                transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
                transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            &:after {
                transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
                transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }
    }
    .btnBorder {
        width: auto;
        display: inline-block;
        padding: 8px 10px;
        border-radius: 5px;
        border: solid 1px $colorBlueDark;
    }
}

.btnAccessibility {
    width: 25px;
    cursor: pointer;
    &.keyboard {
        display: none;
    }
}

/*E:header*/

.faqSection {
    padding: 40px $gutter 15px;
}

.faqContainer {
    flex: 1;
}

.picFaq {
    display: none;
}

.faqBoxList {
    margin-top: 15px;
}

.faqBox {
    margin-bottom: 20px;
    .title {
        font: 2em $fontAssistantSemiBold;
        color: $colorBlueDark;
    }
}

.expansionPanelFaq {
    .mat-expansion-panel {
        margin: 16px 0 !important;
    }
    .mat-expansion-panel-header {
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .mat-expansion-panel-header-title {
        font: 1.6em $fontAssistantBold;
        color: $colorBlueDark;
    }
    .mat-expansion-indicator {
        display: inline-block;
        margin-top: 3px;
        &:after {
            color: $colorBlue;
        }
    }
    .mat-expansion-panel-body {
        font-size: 1.5em;
        color: $colorBlueDark;
    }
}

/*S:dialog*/

.closeDialog {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    &:before,
    &:after {
        content: '';
        width: 2px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 25%;
        background: $colorBlueDark;
    }
    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.dialogContainer {
    padding: 30px 15px 15px;
    border-radius: 10px;
    &.offer {
        background: url(./../img/offerDialogBG_.png) no-repeat right bottom;
    }
}

/*E:dialog*/

/*S:aboutDialog*/

.aboutDialog {
    color: $colorBlueDark;
    .text {
        p {
            font-size: 1.4em;
            line-height: 1.5;
        }
    }
    .title,
    h2 {
        margin: 25px 0 6px;
        font: 1.6em $fontAssistantBold;
    }
    p {
        margin-bottom: 15px;
    }
}

.aboutDialogScroll {
    max-height: calc(100vh - 52vh); // max-height: calc(100vh - 490px);
    padding-right: 20px;
    margin: 10px -20px 0 0;
    @include transitionMove();

    &.sendSuccess{
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        .ps__rail-x{
            display: none!important;
        }
    }
}

.linkLogoContainer {
    margin-top: 15px;
    .btnLink{
        margin-bottom: 15px;
    }
    .pic {
        width: 100%;
        text-align: center;
        img {
            width: 150px;
        }
    }
}
.btnLink {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    font: 1.6em $fontAssistantBold;
    color: $colorBlue;
    cursor: pointer;
    .arrowIcon {
        position: absolute;
        top: 1px;
        left: 0;
    }
    &:hover {
        .arrowIcon {
            animation: bounce 1s forwards;
        }
    }
}
/*S:aboutDialog*/

/*S:contactDialog*/

.imgContact {
    position: absolute;
    top: 10px;
    left: 24px;
    img {
        width: 40px;
    }
}

.errorMsg {
    margin-top: 1px;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 1.4em;
    color: $colorRed;
}

.titleContact {
    font-size: 1.5em;
    color: $colorBlueDark;
}

.formField {
    width: 100%;
}

.mat-form-field {
    &.mat-focused {
        .mat-form-field-ripple {
            background-color: $colorBlue;
        }
    }
    &.mat-form-field-invalid {
        .mat-select-arrow-wrapper {
            .mat-select-arrow {
                border-right-color: $colorRed;
                border-bottom-color: $colorRed;
            }
        }
    }
}

.mat-form-field-flex {
    padding-top: 20px;
}

.mat-form-field-infix {
    .mat-input-element {
        text-align: right;
        font: 1.6em $fontAssistantRegular;
    }
    .mat-form-field-label-wrapper {
        overflow: visible;
    }
}

.mat-form-field-appearance-legacy {
    &.mat-form-field-can-float {
        &.mat-form-field-should-float {
            .mat-form-field-label {
                width: 100%;
                font-size: 1.4em;
                color: $colorPlaceholder;
                transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(.001px);
            }
        }
    }
    .mat-form-field-wrapper {
        padding-bottom: 13px;
    }
    .mat-form-field-infix {
        width: 100%;
        padding: 0;
    }
    .mat-form-field-label {
        text-align: right;
        top: 0;
        font: 1.6em $fontAssistantRegular;
        @include placeholder($colorPlaceholder);
        @include transitionMove();
    }
    .mat-form-field-underline {
        background-color: #21cbf6;
    }
}

.mat-form-field-type-mat-select {
    label.mat-form-field-label {
        width: 100%;
    }
}

.mat-select {
    .mat-select-value {
        text-align: right;
        font: 1.6em $fontAssistantRegular;
    }
}

.mat-option-text {
    text-align: right;
    font: 1.4em $fontAssistantRegular;
    color: $colorPlaceholder;
}

.mat-select-arrow-wrapper {
    .mat-select-arrow {
        width: 7px;
        height: 7px;
        margin-top: -10px;
        border-right: solid 1px $colorBlue;
        border-bottom: solid 1px $colorBlue;
        border-left: none;
        border-top: none;
        transform: rotate(45deg);
    }
}

.btnSend {
    margin-top: 20px;
}

/*E:contactDialog*/

/*S:offerDialog*/
.mat-dialog-container {
    max-width: none !important;
}
.offerDialogScroll{
    max-height: calc(100vh - 40vh);
    // padding-right: 20px;
    // margin: 10px -20px 0 0;
    // margin: 10px -10px 0 0px;
}

.titleOffer {
    font: 2.2em $fontAssistantRegular;
    color: $colorBlueDark;
    margin-bottom: 26px;

}

.offerContainer {
    padding: 25px 15px;
    .title {
        font: 1.8em $fontAssistantSemiBold;
        border-bottom: solid 1px #b6c4da;
        color: $colorBlueDark;
    }
}

.businessDetailsBox {}

.offerBox {
    padding: 10px 15px;
    border-radius: 16px;
    background: $colorWhite;
    box-shadow: 0px 15px 25px 0px rgba(5, 36, 99, 0.2);
    
}

.offerList {
    margin-top: 15px;
    .item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: none;
        }
        .pic {
            width: 24px;
            position: absolute;
            top: 0;
            left: -100%;
        }
    }
    .titleItem {
        font: 1.5em $fontAssistantBold;
        color: $colorBlueDark;
    }
    .numberContainer {
        display: inline-block;
        position: relative;
        color: $colorBlueDark;
        &.present {
            font-weight: bold;
            color: $colorBlue;
            background: url(./../img/underline.png) no-repeat bottom center;
            .number {
                font-weight: bold;
            }
        }
        .number {
            font: 2.6em $fontLatoLight;
        }
        .currency {
            font-size: 1.6em;
        }
    }
    .currency {
        font-size: .4em;
    }
    .text {
        font-size: 1.5em;
        color: $colorGray;
    }
}

/*E:offerDialog*/

/*S:errorPage*/
.errorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px $gutter 25px;
    .pic{
        margin-bottom: 14px;
        img{
            width: 100%;
            max-width: 900px;
        }
    }
    .text{
        margin: 10px 0 20px;
        font-size: 1.8em;
        color:$colorBlueDark;
    }
}
/*E:errorPage*/

/*S:home*/
.sectionInfo{
    max-width: 540px;
    position: absolute;
    top: 100px;
    right: 15px;
    left: 15px;
    
    .text{
        margin-top: 10px;
        font-size:1.6em;
        line-height: 1.2;
        color: $colorBlueDark;
    }
    .btnGlobal{
        margin: 10px 0;
        border-radius: 5px;
    }
    .btnLink{
        margin-top: 6px;
    }
}
.note{
    margin-top: 6px;
 font-size: 1.4em;
 color:$colorBlue;       
}
.homeSlide {
    width: 100%;
    height: 90vh; 
}

.slideSection{
    height: 100vh;
    position: relative;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* Slide 1 */

.bcg {
    background-image: url('../img/marketingBG.jpg');
}

/* Slide 2 */

#slide-2 h2,
#slide-3 h2 {
    color: #ffffff;
}

#slide-3 p,
#slide-3 p {
    color: #b2b2b2;
}
/*E:home*/

/*S:footer*/
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35px $gutter 80px;
    background-color: #1d3a74;
    background-image: url(./../img/footer.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

    margin-top: 600px;
    .title{
        margin-bottom: 15px;
        font: 2.2em $fontAssistantBold;
        color:$colorWhite;
    }
    .text{
        margin-bottom: 18px;
        font-size: 1.6em;
        color:$colorWhite;

    }
    .btnLinkContainer{
        margin-bottom: 20px;
    }
    .btnGlobal{
        border-radius: 5px;   
    }
    .btnLink{
        padding-left: 16px;
        color:$colorWhite;
        .arrowIcon{
            top: 2px;
        }
    }
}
/*E:footer*/

@include keyframes(bounce) {
    0%,
    20%,
    50%,
    80%,
    100% {
        left: 0;
    }
    40% {
        left: -5px;
    }
    60% {
        left: -3px;
    }
}