<div class="sectionInfo">
    <div class="mainTitle" [innerHTML]="infoObj.mainTitle"></div>
    <div class="text" [innerHTML]="infoObj.text"></div>
    <a class="btnLink" href="{{infoObj.link}}">
        {{infoObj.linkText}}
        <span class="arrowIcon">
            <img src="assets/img/arrowIcon.png" alt="">
        </span>
    </a>
    <div>
        <a href="#" class="btn btnGlobal">להצעת מחיר</a>
    </div>
    <a class="btnLink" href="{{infoObj.link}}">
        {{infoObj.linkText}}
        <span class="arrowIcon">
            <img src="assets/img/arrowIcon.png" alt="">
        </span>
    </a>
    <div class="note">{{infoObj.note}}</div>
</div>

<div *ngIf="infoObj.videoUrl.length > 0" class="videoWrapper">
        <video width="400" controls>
            <source src="assets/img/{{infoObj.videoUrl}}" type="video/mp4">
        </video>
</div>