<div class="dialogContainer about">
    <button type="button" class="closeDialog" (click)="closeDialog()"></button>
    <div class="mainTitle">{{ title }}</div>
    <perfect-scrollbar class="perfectScrollbar aboutDialogScroll">
        <div class="aboutDialog">
            <div class="text">
                <p>
                    כלל ביטוח אשראי, הינה החברה המובילה בתחום ביטוח סיכוני אשראי בישראל. החברה פועלת משנת 1981 ומספקת
                    למבוטחיה,
                    מכל ענפי המשק, הגנה מפני חדלות פירעון של לקוחותיהם בארץ ובחו"ל והפסדים בגין אי תשלום או פיגורים
                    בתשלומים
                    מצד לקוחותיהם. בביטוח סיכוני סחר חוץ מעניקה החברה גם הגנה מפני סיכונים פוליטיים. באמצעות פוליסת
                    ביטוח
                    אשראי, מקטינים מבוטחי החברה את הסיכון להיווצרותם של חובות אבודים ומשפרים את יציבות חברתם, תוך העברת
                    סיכוני
                    האשראי לגוף מקצועי ומנוסה.
                </p>
                <p>
                    כלל ביטוח אשראי היא חברה בבעלות משותפת של כלל ביטוח (80%) וקבוצת (Atradius (20%, מתאגידי ביטוח
                    האשראי הגדולים בעולם. Atradius מבטחת עסקאות שנתיות בסך 300 מיליארד יורו בלמעלה מ- 110 מדינות ברחבי
                    העולם ומחזיקה במאגר מידע המנוהל on-line ומכיל נתונים על כ- 45 מיליון חברות בפריסה עולמית. שיתוף
                    הפעולה עם Atradius מאפשר לחברה להעניק למבוטחים מענה מעודכן ומקצועי על בסיס מידע וניסיון שנרכשו
                    לאורך 75 שנות ניסיון בביטוח אשראי בינלאומי. לחברה דרוג אשראי Aa2 על ידי חברת מידרוג.
                </p>
                <p>
                    כלל ביטוח אשראי היא חברה בבעלות משותפת של כלל ביטוח (80%) וקבוצת (Atradius (20%, מתאגידי ביטוח
                    האשראי הגדולים בעולם. Atradius מבטחת עסקאות שנתיות בסך 300 מיליארד יורו בלמעלה מ- 110 מדינות ברחבי
                    העולם ומחזיקה במאגר מידע המנוהל on-line ומכיל נתונים על כ- 45 מיליון חברות בפריסה עולמית. שיתוף
                    הפעולה עם Atradius מאפשר לחברה להעניק למבוטחים מענה מעודכן ומקצועי על בסיס מידע וניסיון שנרכשו
                    לאורך 75 שנות ניסיון בביטוח אשראי בינלאומי. לחברה דרוג אשראי Aa2 על ידי חברת מידרוג.
                </p>
            </div>
            <h2 class="title">ביטוח אשראי</h2>
            <div class="text">
                <p>
                    ביטוח אשראי הינו אמצעי יעיל, המסייע לחברתך להשיג צמיחה מתמשכת ובטוחה עם לקוחות קיימים וחדשים, תוך
                    שמירה
                    על
                    רמת סיכון עסקי נמוכה תפיסת ניהול סיכוני אשראי כוללת ומקיפה מאפשרת לך, בנוסף לפיצוי כספי בגין חובות
                    שלא
                    שולמו, גם מזעור הפסדים והגברת חוסנך הכלכלי ביטוח האשראי שומר על סעיף "חייבים" במאזן כסעיף פעיל
                    ומונע את
                    הפיכתו המכאיבה לסעיף "חובות אבודים" בנקים וחברות מימון חוץ בנקאי מאפשרים על בסיס פוליסת ביטוח
                    האשראי,
                    להרחיב את מסגרות האשראי והמימון של חברתך ביטוח אשראי מסייע לך להכיר את יכולת התשלום של לקוחותיך
                    ומאפשר
                    לך
                    להציע להם תנאי תשלום תחרותיים ובכך למנף את עסקיך ביטוח אשראי מסייע לך להגדיל ולגוון את מקורות המידע
                    של
                    חברתך
                </p>
            </div>
        </div>
    </perfect-scrollbar>

    <div class="linkLogoContainer">
        <a class="link">
                {{ link }}
            <span class="arrowIcon">
                <img src="assets/img/arrowIcon.png" alt="">
            </span>
        </a>
        <div class="pic">
            <img src="{{ imgUrl }}" alt="">
        </div>
    </div>
</div>