<footer class="footer">
    <div class="title">תהליך</div>
    <div class="text">נשמע טוב? תהליך ההרשמה דיגטלי, אורך מספר דקות <br>ובסופו תקבלו הצעת מחיר מותאמת לפוליסת ביטוח אשראי</div>
    <div class="btnLinkContainer">
        <a href="#" class="btn btnGlobal">להצטרפות</a>
    </div>
    <button type="button" class="btnLink" (click)="openOfferDialog()">
        להצעת מחיר לדוגמא
        <span class="arrowIcon">
            <img src="assets/img/arrowWhite.png" alt="">
        </span>
    </button>
</footer>