<div class="dialogContainer offer">
    <button type="button" class="closeDialog" (click)="closeDialog()"></button>
    <h1 class="mainTitle">מחירים נוחים</h1>
    <h2 class="titleOffer">הצעת מחיר לדוגמה עבור עסק עם:</h2>

    <perfect-scrollbar class="perfectScrollbar offerDialogScroll">
        <div class="offerContainer">
            <div class="businessDetailsBox">
                <div class="title">פרטי עסק</div>
                <ul class="offerList">
                    <li class="item">
                        <div class="titleItem">מחזור שנתי</div>
                        <div class="numberContainer">
                            <span class="number">6000000 </span> <span class="currency">&#8362;</span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="titleItem">לקוחות</div>
                        <div class="numberContainer">
                            <span class="number">12 </span> <span class="currency">&#8362;</span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="titleItem">מחזור שנתי</div>
                        <div class="numberContainer">
                            <span class="number">6000000 </span> <span class="currency">&#8362;</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="offerBox">
                <div class="title">הצעת מחיר</div>
                <ul class="offerList">
                    <li class="item">
                        <div class="titleItem">תשלום חודשי </div>
                        <div class="numberContainer">
                            <span class="number">2000 </span> <span class="currency">&#8362;</span>
                        </div>
                        <div class="text">שהם 0.34% מסך החובות הפתוחים לאותו החודש</div>
                    </li>
                    <li class="item">
                        <div class="titleItem">תשלום שנתי</div>
                        <div class="numberContainer">
                            <span class="number">200 </span> <span class="currency">&#8362;</span>
                        </div>
                        <div class="text">100 ש”ח עבור כל לקוח החל מהלקוח ה- 10</div>
                    </li>
                    <li class="item">
                        <div class="titleItem">תשלום חודשי </div>
                        <div class="numberContainer present">
                            <span class="number">5 </span> <span class="currency">%</span>
                            <img class="pic" src="assets/img/present.png" alt="">

                        </div>
                        <div class="text">שהם 0.34% מסך החובות הפתוחים לאותו החודש</div>
                    </li>

                    <li class="item">
                        <div class="titleItem">תשלום חודשי </div>
                        <div class="numberContainer">
                            <span class="number">2000 </span> <span class="currency">&#8362;</span>
                        </div>
                        <div class="text">שהם 0.34% מסך החובות הפתוחים לאותו החודש</div>
                    </li>
                    <li class="item">
                        <div class="titleItem">תשלום שנתי</div>
                        <div class="numberContainer">
                            <span class="number">200 </span> <span class="currency">&#8362;</span>
                        </div>
                        <div class="text">100 ש”ח עבור כל לקוח החל מהלקוח ה- 10</div>
                    </li>
                </ul>
            </div>
        </div>
    </perfect-scrollbar>

</div>