<footer class="footer">
    <div class="title" [innerHTML]="item.mainTitle"></div>
    <div class="text" [innerHTML]="item.text"></div>
    <div class="btnLinkContainer">
        <a href="{{item.joinBtn.linkUrl}}" target="item.joinBtn.targetBlank ? '_blank' : '_self' " class="btn btnGlobal">{{item.joinBtn.text}}</a>
    </div>
    
    <button type="button" class="btnLink" (click)="openOfferDialog()">
        {{item.linkText}}
        <span class="arrowIcon">
            <img src="assets/img/arrowWhite.png" alt="">
        </span>
    </button>
</footer>