<header class="header" [class.open]="isHamburgerOpen">
    <a role="button" class="hamburger" (click)="clickHamburger()">
        <div><span></span></div>
    </a>
    <a class="logo" routerLink="/">
        <img src="assets/img/logo.png" alt="לוגו">
    </a>
    <div class="menuAccessibilityContainer">
        <ul class="accessibilityList">
            <li class="item">
                <button type="button" class="btnAccessibility keyboard" id="btnKeyboard" data-body="keyboardFocus"
                    (click)="toggleFocus()">
                    <img src="assets/img/keyboard.svg" alt="שימוש במקלדת">
                </button>
            </li>
        </ul>
        <ul class="mainMenu">
            <li class="item" role="presentation"><a class="link" routerLink="/faq" [routerLinkActive]="'active'">שאלות ותשובות</a></li>
            <li class="item" role="presentation"><button type="button" class="link" (click)="openAboutDialog()">אודות
                    כלל ביטוח אשראי</button></li>
            <li class="item" role="presentation"><button type="button" class="link" (click)="openContactDialog()">צור
                    קשר</button></li>
            <li class="item" role="presentation"><a href="#" class="link btnBorder">לאתר ניהול הפוליסה</a></li>
        </ul>
    </div>

</header>