<div class="scrollIndicator" [ngClass]="{'scrollIndicator--hide': layerIndex != 0}" (click)="incrementLayerIndex()"></div>
<input type="text" class="formControl">
<input type="text" class="formControl">
<input type="text" class="formControl">
<input type="text" class="formControl">
<app-sectionInfo 
    class="sectionInfoWrapper" 
    [infoObj]="item"
    [layerIndex]="layerIndex"
    [class.caruselSection]="item.caruselData.length > 0"
    [style.zIndex]="sectionItems.length - i" 
    [isMobile]="isMobile"
    [ngClass]="{'outOfView': layerIndex > i }"
    (openPopup)="openPopup(i + 1)"
    *ngFor="let item of sectionItems; let i=index">
</app-sectionInfo>

<app-footer></app-footer>