<img *ngIf="isMobile" class="sectionInfoMobileImg" src="{{infoObj.bgImageMobile}}" alt="">
<img *ngIf="!isMobile" class="sectionInfoMobileImg" src="{{infoObj.bgImage}}" alt="">

<div class="sectionInfo" [class.playing]="isVideoPlaying">

    <div class="sectionInfoInner">
        <div class="mainTitle" [innerHTML]="infoObj.mainTitle"></div>
        <div class="text" [innerHTML]="infoObj.text"></div>
        <a class="btnLink" [href]="infoObj.linkReadMore.linkUrl" *ngIf="infoObj.linkReadMore && !infoObj.linkReadMore.isInternal && !infoObj.isReadMorePopup">
            {{infoObj.linkReadMore.text}}
            <span class="arrowIcon">
                <img src="assets/img/arrowIcon.png" alt="">
            </span>
        </a>
        <a class="btnLink" routerLink="{{infoObj.linkReadMore.linkUrl}}" *ngIf="infoObj.linkReadMore && infoObj.linkReadMore.isInternal && !infoObj.isReadMorePopup">
            {{infoObj.linkReadMore.text}}
            <span class="arrowIcon">
                <img src="assets/img/arrowIcon.png" alt="">
            </span>
        </a>

        <a class="btnLink" (click)="openPopup.emit()" *ngIf="infoObj.linkReadMore && infoObj.isReadMorePopup">
            {{infoObj.linkReadMore.text}}
            <span class="arrowIcon">
                <img src="assets/img/arrowIcon.png" alt="">
            </span>
        </a>

        <div *ngIf="infoObj.offerBtn">
            <a [href]="infoObj.offerBtn.linkUrl" target="{{infoObj.offerBtn.targetBlank ? '_blank' : '_self'}}" class="btn btnGlobal">{{infoObj.offerBtn.text}}</a>
        </div>
        <a class="btnLink" href="{{infoObj.link}}" *ngIf="infoObj.linkText.length > 0">
            {{infoObj.linkText}}
            <span class="arrowIcon">
                <img src="assets/img/arrowIcon.png" alt="">
            </span>
        </a>
        <div class="note">{{infoObj.note}}</div>
    </div>
</div>

<div *ngIf="infoObj.videoUrl.length > 0 && infoObj.videoType == 'player' " class="videoWrapper">
    <video class="mainVideo" #videoRef (click)="stopVideo()" poster="../../../../assets/img/Clal_06_0001.png" preload="none">
        <source src="{{infoObj.videoUrl}}" type="video/mp4">
    </video>
    <button type="button" class="playBtn" (click)="playVideo()" [class.active]="isVideoPlaying"></button>
</div>

<div *ngIf="infoObj.videoUrl.length > 0 && infoObj.videoType == 'background' && !isMobile" class="videoWrapper">
    <video width="100%" autoplay loop muted playsinline>
        <source [src]="infoObj.videoUrl" type="video/mp4">
    </video>
</div>

<div *ngIf="infoObj.caruselData.length > 0">
    <app-slick [slides]="infoObj.caruselData"></app-slick>
</div>