<div class="sectionInfo" [class.playing]="isVideoPlaying">
    <div class="sectionInfoInner">
        <div class="mainTitle" [innerHTML]="infoObj.mainTitle"></div>
        <div class="text" [innerHTML]="infoObj.text"></div>
        <a class="btnLink" [href]="infoObj.linkReadMore" *ngIf="infoObj.linkReadMore.length > 0">
            {{infoObj.linkReadMoreText}}
            <span class="arrowIcon">
                <img src="assets/img/arrowIcon.png" alt="">
            </span>
        </a>
        <div>
            <a [href]="infoObj.offerBtn.linkUrl" target="{{infoObj.offerBtn.targetBlank ? '_blank' : '_self'}}" class="btn btnGlobal">{{infoObj.offerBtn.text}}</a>
        </div>
        <a class="btnLink" href="{{infoObj.link}}" *ngIf="infoObj.linkText.length > 0">
            {{infoObj.linkText}}
            <span class="arrowIcon">
                <img src="assets/img/arrowIcon.png" alt="">
            </span>
        </a>
        <div class="note">{{infoObj.note}}</div>
    </div>
</div>

<div *ngIf="infoObj.videoUrl.length > 0 && infoObj.videoType == 'player' " class="videoWrapper">
    <video width="100%" #videoRef (click)="stopVideo()">
        <source src="{{infoObj.videoUrl}}" type="video/mp4">
    </video>
    <button type="button" class="playBtn" (click)="playVideo()" [class.active]="isVideoPlaying"></button>
</div>

<div *ngIf="infoObj.videoUrl.length > 0 && infoObj.videoType == 'background' " class="videoBgWrapper">
    <video width="100%" autoplay muted controls loop>
        <source src="{{infoObj.videoUrl}}" type="video/mp4">
    </video>
</div>

<div *ngIf="infoObj.caruselData.length > 0">
    <app-slick [slides]="infoObj.caruselData"></app-slick>
</div>